extend default

append js
	script.
		$(document).ready(function() {
			$('.about').toggleClass('colorBlue');
		})
	//	item template
	script#item-template(type="text/x-template")
		li
			div(v-bind:class="{bold: isFolder}", @click="toggle", @dblclick="changeType") {{model.name}}
				span(v-if="isFolder") [{{open ? '-' : '+'}}]
			ul(v-show="open", v-if="isFolder")
				item.item(v-bind:model="model", v-bind:data="model", v-bind:key="model.name", v-for="model in model.children")

append content
	p.
		Education

	.about-degree-whut
		img.about-img-whut(src="http://ruc.mdaxue.com/group1/M00/00/28/wKgAE1LGHqiAfSf2AACXf_-Xwr4209.jpg")
		p.
			Degree: Bachelor of Engineering
			<br>
			Majority: Communication Engineering
			<br>
			Years: 2007 - 2011

	.about-degree-usc
		img.about-img-usc(src="https://lh6.googleusercontent.com/-c9dn91oPgno/AAAAAAAAAAI/AAAAAAAAB_0/VP8bNTCSFr4/s0-c-k-no-ns/photo.jpg")
		p.
			Degree: Master of Science
			<br>
			Majority: Electrical Engineering (Networking)
			<br>
			Years: 2012 - 2013

	.about-degree-sjsu
		img.about-img-sjsu(src="http://s3.amazonaws.com/advancedcms/hHCOIVqfSaShJIKy0Lks_tumblr_inline_ngq2xfj7Zk1r4vnkn.png")
		p.
			Degree: Master of Science
			<br>
			Majority: Computer Engineering
			<br>
			Years: 2015 - Current
	<br>
	ul#demo
		item.item(v-bind:model="treeData")