doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Luwen Miao's Workspace
  body
    .header
      h1.page-title Luwen Miao's Workspace

    ul.nav
      li: a(href='/') Home
      li: a(href='about') About me
      li: a(href='blog') Blog
      li: a(href='others') Others
    
    .main-content
      block content

    .footer
      p Copyright © 2016 Luwen Miao. Luwen Miao is a potential geek on his way :)
