doctype html

html
  head
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/scrollANDfix.js')
    script(type='text/javascript', src='/jquery/jquery-3.1.1.min.js')
    title Luwen Miao's Workspace
  body
    .header
      h1.page-title Luwen Miao's Workspace

    ul.nav
      li.button: a(href='/') Home
      li.button: a(href='about') About me
      li.button: a(href='https://gfork-blog.herokuapp.com') Blog
      li.button: a(href='others') Others
    
    .main-content
      block content

    .footer
      p Copyright © 2016 Luwen Miao. Luwen Miao is a potential geek on his way :)
